body {
	background-color: white;
	font-family: "sans serif";
	font-size: 18px;
}
p {
	text-align: center;
	font-size: 1em;
    padding-top:4em;
	/*font-weight: bold*/
}

p:active {
    color: rgba(135,206,235,1);
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.mean_circles {
    stroke:#000000;
    stroke-width: 2;
}

.container {
    width: 855px;
    margin: 0 auto;
    text-align: center;
}

.p_data_1{
    font-weight: bold
}

#area1 {
    text-align:center;
}

#area3 {
    text-align:center;
}

.visual-button {
    /*font-family: inherit;*/
    font-size: 1em;
    /*font-weight: bold;*/
    /*padding-right: 1em;*/
    /*border: none;*/
    /*background: none;*/
}
