body {
	background-color: white;
	font-family: "sans serif";
	font-size: 18px;
}
p {
	text-align: center;
	font-size: 1em;
    padding-top:4em;
	/*font-weight: bold*/
}

p:active {
    color: rgba(135,206,235,1);
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.mean_circles {
    stroke:#000000;
    stroke-width: 2;
}

.container {
    width: 855px;
    margin: 0 auto;
    text-align: center;
}

.p_data_1{
    font-weight: bold
}

#area1 {
    text-align:center;
}

#area3 {
    text-align:center;
}

.visual-button {
    /*font-family: inherit;*/
    font-size: 1em;
    /*font-weight: bold;*/
    /*padding-right: 1em;*/
    /*border: none;*/
    /*background: none;*/
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#tip-container {
    margin-bottom: 10px;
}
